.banner {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  height: 30em;
  margin-top: -2em;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.banner-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 1) 90%
    ),
    url("/images/header-photo.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.banner-tech-stack {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0.5rem;
  letter-spacing: 0.3px;
}

body.dark .banner-image::before {
  background-image: linear-gradient(
      to bottom,
      rgba(18, 18, 18, 0) 60%,
      rgba(18, 18, 18, 1) 90%
    ),
    url("/images/header-photo-3.jpeg");
}

.banner-text {
  position: absolute;
  font-size: 1.5rem;

  font-weight: bold;
  text-align: right;
  color: black;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.5s;
  margin-top: 0;
  right: 2em;
  top: 5em;
  text-shadow: 2px 5px 7px rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.banner-text h1 {
  padding-left: 1.2em;
}

.banner-text .subheader {
  display: flex;
  justify-content: right;
}

.banner-text .subheader p {
  white-space: nowrap;
}

body.dark .banner-text {
  color: white;
  text-shadow: 2px 5px 7px rgba(0, 0, 0, 0.8);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 589px) {
  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 0;
    padding-left: 0;
  }

  .banner-text h1,
  .banner-text p {
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center;
  }

  .banner {
    height: 25em;
  }
}
