.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.banner-container {
  position: relative;
  width: 100%;
  overflow: visible;
}

.banner-image {
  position: absolute;
  inset: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.banner-text {
  position: relative;
  font-size: 1.5rem;
  line-height: 0em;
  font-weight: bold;
  text-align: right;
  color: black;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 1s;
  margin-top: 20vw;
  right: 2em;
}

.banner-text h1 {
  padding-left: 1.2em;
}

.banner-text .subheader {
  display: flex;
  justify-content: right;
}

.banner-text .subheader p {
  white-space: nowrap;
}

.banner-text .subheader .mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
}

.banner-text .subheader .mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 608px) {
  .banner-text {
    margin-top: 1em;
    right: 0;
    padding-left: 0;
  }

  .banner-text h1,
  .banner-text p {
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center;
  }
}
