.bio-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 3em;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  align-items: center;
  width: 90%;
  max-width: 90%;
  margin: 2em auto;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.bio-container.show {
  opacity: 1;
  transform: translateY(0);
}

.bio-pic {
  width: 35%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.bio-container div {
  flex: 1;
}

.bio-container p {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
  margin-bottom: 1.5em;
}

@media (max-width: 800px) {
  .bio-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio-pic {
    width: 50%;
    height: auto;
  }

  .bio-container p {
    text-align: center;
  }
}
