.Navbar {
  margin-bottom: 2em;
  position: relative;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar::before,
.Navbar::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: black;
  transform: translateX(-50%);
  animation: expandBorder 1.5s ease-out forwards;
  animation-delay: 0.75s;
}

.Navbar::before {
  top: 0;
}

.Navbar::after {
  bottom: 0;
}

.Navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 100%;

  margin: 0;
  padding: 0;
}

.Navbar li {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 2s;
}

.Navbar a {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

.Navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.Navbar a:hover::after {
  width: 100%;
}

.Navbar a:hover {
  text-decoration: none;
  color: black;
}

.Navbar .active::after {
  width: 100%;
}

.Navbar button {
  padding: 0.2em 1.2em;
}

.Navbar button:hover {
  background-color: white;
  color: black;
}

@keyframes expandBorder {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
