.Navbar {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: black;
    transform: translateX(-50%);
    animation: expandBorder 2.75s ease-out forwards;
    animation-delay: 1.75s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 1em;

    li {
      opacity: 0;
      transform: translateY(10px);
      animation: fadeInUp 1s ease-out forwards;
      animation-delay: 4s;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

@keyframes expandBorder {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
