.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 2em;
}

.create-feature {
  padding: 2em;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
  gap: 1em;
}

.category-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1em;
  color: var(--text-color);
  transition: color 0.3s ease;
}

body.dark .category-title {
  color: rgba(255, 255, 255, 0.9);
}
