.stats-link {
  font-size: 1.5em;
}

.sneffels-bg {
  background-image: url("/images/sneffels/Mount-sneffels-view.webp");
}

.sneffels-intro {
  background: #fff;
  color: #1a1a1a;
  margin: 0 auto;
  gap: 2em;
}

.intro-image-wrapper {
  position: relative;
  overflow: hidden;
}

.intro-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 43.235924130394345% 82.14285714285714%;
}

.image-caption {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.intro-text {
  flex: 1 1 500px;
  font-size: 1rem;
  line-height: 1.6;
}

.intro-text p {
  margin-bottom: 1.5rem;
}

.link-block a {
  color: #3f5fa9;
  font-weight: 600;
  text-decoration: underline;
}
